h1{

  text-align: center;
}
body{
  background-color: aliceblue;
  font-style: normal;
}
h2{

}
h3{
}
h1,h2,h3{
  color: green;
}
img {
  height: 400px;
  width: 900px;
  margin-left: 100px;
}
.agribongapic{
  width: 400px;
  height: 300px;
  margin-left: 150px;
}
.kwa{
  width: 400px;
  height: 300px;
  margin-left: 150px;
}
## {
  color: blue;
}